<div id="edit_giver_error>">
  <% if @giver %>
    <% if @giver.errors.any? %>
      <div id="error_explanation">
        <h3>
          <%= pluralize(@giver.errors.count, "error") %>
          prohibited this post from being saved:
        </h3>
        <ul>
        <% @giver.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for @giver do |f| %>
  <%= f.text_field :name %> <%= f.submit 'Submit' %> <%= button_tag 'Cancel', type: 'button', id: 'giver_form_cancel' %>
<% end %>
