<h1>All Gift Givers (<%= Giver.quantity %>)</h1>

<% @givers.sort_by(&:name).each do |giver| %>
  <ul>
    <li><%= link_to giver.name, giver_path(giver) %> (<%= giver.gift_quantity %>
      <% if giver.gift_quantity == 1 %>
        <%= "gift)" %>
      <% else %>
        <%= "gifts)" %>
      <% end %>
    </li>
  </ul>
<% end %>
