
<div id="event_header_div">
  <h1><%= @event.name %></h1>
  <h3><%= @event.formatted_date %> - <a href="" id="edit_event_link">Edit</a></h3>
</div>

<button id="js-new-gift-button">Create Gift</button><br>

<div id="break_div"></div>
<div id="error_div"></div>
<div id="js-gift-form-div"></div>

<div id="giftList">
  <ul>
    <% @event.gifts.sort_by(&:name).each do |gift| %>
      <li>
        <div id="error_div_<%= gift.id %>"></div>
        <div id="break_div_<%= gift.id %>"></div>
        <div class="gift-div" id="gift-element-<%= gift.id %>" data-id="<%= gift.id %>">
          <%= gift.name %> - <a href="" class="editLink" data-id="<%= gift.id %>">Edit</a> <a href="#" class="removeLink" data-id="<%= gift.id %>">Remove</a>
          <% gift.givers.each do |giver| %>
            <ul>
              <li><%= link_to giver.name, giver_path(giver) %></li>
            </ul>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<!--load new gift form-->
<script type="text/javascript" charset="utf-8">
  $('#js-new-gift-button').on("click", function(event) {
    event.preventDefault()
    $('#cancel_gift').html('<br><button id="cancel_gift_button">Cancel</button>')
    $('#js-gift-form-div').load('/events/<%= @event.id %>/gifts/new', function() {
      $('#break_div').html('<br>')
    })
    $.get('/events/<%= @event.id %>', function(data) {
      $('#giftList').html($(data).filter('#giftList'))
    })
  })
</script>

<!--submit new gift-->
<script>
  $('#js-gift-form-div').submit(function(event) {
    event.preventDefault();

    var values = $("#new_gift", this).serialize();

    var posting = $.post(`/events/<%= @event.id %>/gifts`, values);

    posting.done(function(data) {

      if (typeof data === "string") {
        $('#error_div').html($(data).filter('#error_explanation'))
        $('#js-gift-form-div').load('/events/<%= @event.id %>/gifts/new')
      }
      if (typeof data === "object") {
        $('#error_div').html("")
        $.get('/events/<%= @event.id %>', function(data) {
          $('#break_div').html("")
          $('#giftList').html($(data).filter('#giftList'))
          $('#js-gift-form-div').html($(data).filter('#js-gift-form-div'))
        })
      }
      $("js-gift-form-div").html("")
    })
  });
</script>

<!--load edit gift form-->
<script type="text/javascript" charset="utf-8">
  $('.editLink').on("click", function(event) {
    event.preventDefault();
    var id = $(this).data("id");
    $('#gift-element-' + id).load('/events/<%= @event.id %>/gifts/' + id + '/edit', function() {
      $('#name_h3').html("")
      $('#gift_form_break').html("<br>")
      $('#cancel_edit_gift_div').html("<button id='cancel_edit_gift_button'>Cancel</div>")
      $('#cancel_gift').html("")
      $('#error_div').html("")
      $('#break_div').html("")
      $('#js-gift-form-div').html("")
    })
  })
</script>

<!--cancel all gift forms-->
<script>
  $(document).on('click', '#cancel_gift_form_button', function(event) {
    event.preventDefault()
    $.get('/events/<%= @event.id %>', function(data) {
      $('#giftList').html($(data).filter('#giftList'))
      $('#cancel_gift').html("")
      $('#error_div').html("")
      $('#break_div').html("")
      $('#js-gift-form-div').html("")
    })
  })
</script>

<!--submit edit gift-->
<script>
  $('.gift-div').submit(function() {
    event.preventDefault()
    var id = $(this).data("id");
    var values = $(".edit_gift", this).serialize();
    var posting = $.post(`/events/<%= @event.id %>/gifts/` + id, values);
    posting.done(function(data) {
      if (typeof data === "string") {
        $('#error_div_' + id).html($(data).filter('#error_explanation'))
        $('#break_div_' + id).html('<br>')
        $('#gift-element-' + id).load('/events/<%= @event.id %>/gifts/' + id + '/edit')
      }
      if (typeof data === "object") {
        $('#error_div_' + id).html("")
        $('#break_div_' + id).html("")
        $.get('/events/<%= @event.id %>', function(data) {
          $('#giftList').html("")
          $('#giftList').html($(data).filter('#giftList'))
          $('#js-gift-form-div').html($(data).filter('#js-gift-form-div'))
        })
      }
    })
  })
</script>

<!--remove gift-->
<script>
  $('.removeLink').on("click", function(event) {
    event.preventDefault()
    var id = $(this).data("id")
    var confirmation = confirm("Are you sure you want to delete?")

    if (confirmation) {
      $.ajax({
        url: "/events/<%= @event.id %>/gifts/" + id,
        method: "DELETE",
        data: id
      }).done(function() {
        $.get('/events/<%= @event.id %>', function(data) {
          $('#giftList').html($(data).filter('#giftList'))
        })
      })
    }
  })
</script>

<!--load edit event form-->
<script>
  $("#edit_event_link").on("click", function(event) {
    event.preventDefault()
    $('#event_header_div').load('/events/<%= @event.id %>/edit')
  })
</script>

<!--submit edit event-->
<script>
  $('#event_header_div').submit(function() {
    event.preventDefault()
    var values = $('.edit_event', this).serialize()
    var posting = $.post(`/events/<%= @event.id %>`, values);
    posting.done(function(data) {
      if (typeof data === "string") {
        $('#event_header_error_div').html($(data).find('#error_explanation'))
      }
      if (typeof data === "object") {
        $.get('/events/<%= @event.id %>', function(data) {
          $('#event_header_div').html($(data).filter('#event_header_div'))
        })
      }
    })
  })
</script>
