<h1><%= @event.name %></h1>
<h3><%= @event.date %> - <%= link_to 'Edit', edit_event_path(@event) %></h3>

<h4><%= link_to "Create Gift", new_event_gift_path(@event) %></h4>

<%= form_for @event do |f| %>
  <%= collection_check_boxes(:event, :gift_ids, @event.gifts, :id, :gift_name) do |c| %>
    <ul>
      <li>
        <%= c.label do %>
          <%= c.object.name %> - <%= link_to 'Edit', edit_event_gift_path(@event, c.object) %> <%= link_to 'Remove', event_gift_path(@event, c.object), data: {confirm: 'Are you sure?'}, method: :delete %>
        <% end %>
        <% if c.object.thanked? %>
          <%= c.check_box(checked: true) %>
        <% else %>
          <%= c.check_box(checked: false) %>
        <% end %>
        <% c.object.givers.each do |giver| %>
          <ul>
            <li><%= giver.name %></li>
          </ul>
        <% end %>
      </li>
    </ul>
  <% end %>
  <%= f.submit "Update Thank You Notes" %>
<% end %>


Parameters: {"utf8"=>"✓", "authenticity_token"=>"4iFvClGrdfLFb/vrbtz5cD7+r6BHom1peVtaoJIgtUcwHyQtbTLgE/DPTLapKFGkOHbtgJef+VtzABz7kTNCqA==", "event"=>{"gift_ids"=>["",
"2", "3"]}, "commit"=>"Update Thank You Notes", "id"=>"1"}
