

<h1><%= @event.name %></h1>
<h3><%= @event.formatted_date %> - <%= link_to 'Edit', edit_event_path(@event) %></h3>

<button id="js-new-gift-button">Create Gift</button><br>

<br>

<div id="js-gift-form-div"></div>


<% @event.gifts.each do |gift| %>
  <ul>
    <li>
      <%= gift.name %> - <%= link_to 'Edit', edit_event_gift_path(@event, gift) %> <%= link_to 'Remove', event_gift_path(@event, gift), data: {confirm: 'Are you sure?'}, method: :delete %>
      <% gift.givers.each do |giver| %>
        <ul>
          <li><%= link_to giver.name, giver_path(giver) %></li>
        </ul>
      <% end %>
    </li>
  </ul>
<% end %>
<div id="giftResult">
  <ul>
    <li id="giftName"></li>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  $('#js-new-gift-button').on("click", function(event) {
    event.preventDefault()
    $('#js-gift-form-div').load('/events/<%= @event.id %>/gifts/new #new_gift')
  })
</script>

<script>
  $(function () {
    $('#js-gift-form-div').submit(function(event) {
      event.preventDefault();

      var values = $("#new_gift", this).serialize();

      var posting = $.post(`/events/<%= @event.id %>/gifts`, values);

      posting.done(function(data) {
        var gift = data
        $("#giftName").text(gift["name"])
        $("#js-gift-form-div").html("")
      });
    });
  });
</script>
