

<h1><%= @event.name %></h1>
<h3><%= @event.formatted_date %> - <%= link_to 'Edit', edit_event_path(@event) %></h3>

<button id="js-new-gift-button">Create Gift</button><br>

<br>

<div id="js-gift-form-div"></div>

<div id="giftList">
  <% @event.gifts.sort_by(&:name).each do |gift| %>
    <ul>
      <li>
        <%= gift.name %> - <%= link_to 'Edit', edit_event_gift_path(@event, gift) %> <%= link_to 'Remove', event_gift_path(@event, gift), data: {confirm: 'Are you sure?'}, method: :delete %>
        <% gift.givers.each do |giver| %>
          <ul>
            <li><%= link_to giver.name, giver_path(giver) %></li>
          </ul>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
  $('#js-new-gift-button').on("click", function(event) {
    event.preventDefault()
    $('#js-gift-form-div').load('/events/<%= @event.id %>/gifts/new')
  })
</script>

<script>
  $(function () {
    $('#js-gift-form-div').submit(function(event) {
      event.preventDefault();

      var values = $("#new_gift", this).serialize();

      $.post(`/events/<%= @event.id %>/gifts`, values);

      $.get('/events/<%= @event.id %>', function(data) {
        $('#giftList').html("")
        $('#giftList').html($(data).filter('#giftList'))
        $('#js-gift-form-div').html($(data).filter('#js-gift-form-div'))
      })


      //posting.done(function(data) {
        //var gift = data

        //$("#giftName").text(gift["name"])
        //$("#js-gift-form-div").html("")
      //});
      $("js-gift-form-div").html("")
    });
  });
</script>
