<h1><%= @event.name %></h1>
<h3><%= @event.date %> - <%= link_to 'Edit', edit_event_path(@event) %></h3>

<h4><%= link_to "Create Gift", new_event_gift_path(@event) %></h4>


  <% @event.gifts.each do |gift| %>
    <ul>
      <li><%= gift.name %> - <%= link_to 'Edit', edit_event_gift_path(@event, gift) %> <%= link_to 'Remove', event_gift_path(@event, gift), data: {confirm: 'Are you sure?'}, method: :delete %></li>
      <% gift.givers.each do |giver| %>
        <ul>
          <li><%= giver.name %></li>
        </ul>
        <% end %>
    </ul>
  <% end %>
