<h1><%= @event.name %></h1>
<h3><%= @event.date %> - <%= link_to 'Edit', edit_event_path(@event) %></h3>

<h4><%= link_to "Create Gift", new_event_gift_path(@event) %></h4>


  <% @event.gifts.each do |gift| %>
    <%= form_tag(event_gift_thank_path(@event, gift), method: :put) do %>
      <ul>
        <li>
          <%= gift.name %> - <%= link_to 'Edit', edit_event_gift_path(@event, gift) %> <%= link_to 'Remove', event_gift_path(@event, gift), data: {confirm: 'Are you sure?'}, method: :delete %>
          <% if gift.thanked? %>
            <%= check_box_tag 'gift_id[]', gift.id, {onchange: 'this.form.submit();', checked: true} %>
          <% elsif %>
            <%= check_box_tag 'gift_id[]', gift.id, {onchange: 'this.form.submit();'} %>
            <% end %>
          </li>
        <% gift.givers.each do |giver| %>
          <ul>
            <li><%= giver.name %></li>
          </ul>
          <% end %>
      </ul>
    <% end %>
  <% end %>
