<% if @gift %>
  <% if @gift.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@gift.errors.count, "error") %>
        prohibited this post from being saved:
      </h3>
      <ul>
      <% @gift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div id="js-new-gift-form">
  <%= form_for [@event, gift] do |f| %>
    <h3 id="name_h3"></h3>
    <%= f.text_field :name %><br>
    <% if !@givers.empty? %>
      <h3 id="assign_h3">Assign Gift Giver(s)</h3>
      <div id="giver_collection"><%= f.collection_check_boxes(:giver_ids, @givers.sort_by(&:name), :id, :name) do |b| %>
        <div style="float: left"><%= b.check_box %><%= b.label %></div>
      <% end %><br></div>
    <% end %>
    <% if @givers.empty? %>
      <h3 id="add_giver_h3">Add New Gift Giver(s)</h3> <%= image_submit_tag("plus-sign.png", id: 'add_giver_button', class: 'add_giver_button') %> <%= image_submit_tag("red-minus-sign-icon_281560.png", id: 'minus_sign', class: 'minus_sign', disabled: 'disabled') %>
    <% else %>
      <h3 id="add_giver_h3">Or Add New Gift Giver(s)</h3> <%= image_submit_tag("plus-sign.png", id: 'add_giver_button', class: 'add_giver_button') %> <%= image_submit_tag("red-minus-sign-icon_281560.png", id: 'minus_sign', class: 'minus_sign', disabled: 'disabled') %>
    <% end %>
    <div class='new_giver_div' id="new_giver_div_1">
      <%= f.fields_for :givers, gift.givers.build, style: 'display:none' do |givers_fields| %>
        <%= givers_fields.text_field :name, class: 'new_givers', id: 'new_giver_1' %><br>
      <% end %>
    </div>
    <div class='new_giver_div' id="new_giver_div_2">
      <%= f.fields_for :givers, gift.givers.build do |givers_fields| %>
        <%= givers_fields.text_field :name, class: 'new_givers', id: 'new_giver_2' %> <br>
      <% end %>
    </div>
    <div class='new_giver_div' id="new_giver_div_3">
      <%= f.fields_for :givers, gift.givers.build do |givers_fields| %>
        <%= givers_fields.text_field :name, class: 'new_givers', id: 'new_giver_3' %><br>
      <% end %>
    </div>
    <div class='new_giver_div' id="new_giver_div_4">
      <%= f.fields_for :givers, gift.givers.build do |givers_fields| %>
        <%= givers_fields.text_field :name, class: 'new_givers', id: 'new_giver_4' %><br>
      <% end %>
    </div>
    <div class='new_giver_div' id="new_giver_div_5">
      <%= f.fields_for :givers, gift.givers.build do |givers_fields| %>
        <%= givers_fields.text_field :name, class: 'new_givers', id: 'new_giver_5' %><br>
      <% end %>
    </div>
    <%= f.submit 'Submit' %> <%= button_tag 'Cancel', type: 'button', class: 'gift_form_cancel', id: gift.id %>
  <% end %>
  <div id="gift_form_break"></div>
</div>
