<%= form_for [@event, gift] do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.collection_check_boxes(:giver_ids, Giver.all, :id, :name) %><br><br>
  <%= f.submit 'Create Gift' %>
<% end %>
<br>
<h3>Add New Gift Giver(s)</h3>

<%= form_for [@event, gift] do |f| %>
  <input name="gift[giver_ids][]"><br><br>
  <input name="gift[giver_ids][]"><br><br>
  <input name="gift[giver_ids][]"><br>
  <%= f.submit 'Add' %>
<% end %>
