<% if @gift %>
  <% if @gift.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@gift.errors.count, "error") %>
        prohibited this post from being saved:
      </h3>
      <ul>
      <% @gift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div id="js-new-gift-form">
  <%= form_for [@event, gift] do |f| %>
    <h3 id="name_h3">Name</h3>
    <%= f.text_field :name %><br>
    <h3>Assign Gift Giver(s)</h3>
    <%= f.collection_check_boxes(:giver_ids, @givers.sort_by(&:name), :id, :name) %><br>
    <h3>Or Add New Gift Giver(s)</h3>
    <%= f.fields_for :givers, gift.givers.build do |givers_fields| %>
      <%= givers_fields.text_field :name %>
    <% end %><br><br>
    <%= f.submit 'Submit' %> <%= button_tag 'Cancel', type: 'button', class: 'gift_form_cancel', id: gift.id %>
  <% end %>
  <div id="gift_form_break"></div>
</div>
